.row main.col {
  position: absolute;
  top: 74px;
  right:0 !important;

  @media #{$small-and-down} {
   top: 60px;
  }
}

main {
  transition: all 0.3s ease-out 0s;
  transform: translateX(0);

  .card-panel {
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
  }

}

/*Push Container on Mobile*/

main.push {
	@media #{$medium-and-down} {
		transform: translateX(100%);
	}

}


#event_form {
  h2 {
    margin-top: 1.4rem;
  }
}