.row main.col {
  position: absolute;
  top: 74px;
  right:0 !important;

  @media #{$small-and-down} {
   top: 60px;
  }
}

main {
  transition: all 0.3s ease-out 0s;

  .card-panel {
    max-height: calc(100vh - 100px);
    overflow-y: scroll;

    @media #{$small-and-down} {
      min-height:400px;
    }
  }

}

/*Push Container on Mobile*/

.row main.col.push {
  right: -100% !important;
}


#event_form {
  h2 {
    margin-top: 1.4rem;
  }
}