.row.overall-container {
	height: 100vh;
	margin-bottom:0;
}

nav .brand-logo {
	padding:0 15px;

	i{
		font-weight:normal;
		margin-right:10px;
	}
}

/*Sticky Footer*/

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
  	margin-top:0;
  }
      

/*MAPS*/

#map-container {
	position:relative;
	height:calc(100% - 80px);
}

#map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
 }



/*
header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:10;
	width:100px;
	margin:0 auto;
	
	h1 {
		font-size: 22px;
		font-weight:bold;
		text-align:center;
		margin: 22px 0 0 0;
		text-shadow: 2px 2px 2px #fff;

		a {
			color: $primary;
		}
	}
}



footer {
	height: 25px;
	background-color: $primary
}
*/